.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.NavBarContainer {
  position: relative;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: #a4330d
}

.SignUpLink, .LoginLink, .LogOutButton{
  float: right;
  width: 300px;
  padding: 10px;
  align-items: center;
  text-align: center;
}

a{
  color: black;
  text-decoration: none;
  display: block;
  text-align: center;
}
a:hover{
  text-decoration: underline;
}

.NewRecipeForm{
  padding: 20px;
  margin: 1rem 0;
  margin-left: 25px;
  margin-right: 75px;
  width: 400px;
  border-radius: 25px;

}
.recipe-card{
  box-shadow: 5px 3px 3px rgb(55, 55, 55);
  width: 240px;
  padding: 20px;
  margin: 10px;
  float:left;
  object-fit: contain;
  font-family:monospace;
  border-radius: 30px;
}

.recipe-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  padding: 5px;
  margin: 10px;
  border-width: .5em;
  text-align: center;;
}


.cardImg {
  width: 200px;
  height: auto;
}

.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 200%;
  height: auto;
  object-fit: cover;
}

.SignUpContainer form,
.LogInContainer form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.SignUpContainer input,
.LogInContainer input {
  height: 30px;
  width: 200px;
}
.navBarLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50%;
  padding: 30px;
  font-size: 15px;
}

.SignUpLink, .LoginLink {
  margin: 15px;
}

.LogOutButton {
  background: none;
  border: none;
  font-size: 15px;
}

