.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(#455a64,#b0bec5);
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.NavBarContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #455a64;
  margin: 0;
}

.NavBarTitle {
  display: flex;
  width:35%;
  height: 100%;
  background-color: #455a64;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}


.recipeList {
  background-color: #c6765b;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content:center;
  background-image: linear-gradient(#455a64,#b0bec5);
}


.SignUpLink, .LoginLink, .LogOutButton{
  float: right;
  width: 300px;
  padding: 10px;
  align-items: center;
  text-align: center;
  justify-content:center;
}

a{
  color: black;
  text-decoration: none;
  display: block;
  justify-content: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
}
a:hover{
  text-decoration: underline;
}


.NewRecipeForm{
  padding: 20px;
  margin: 1rem 0;
  margin-left: 25px;
  margin-right: 75px;
  width: 400px;
  border-radius: 25px;

}
.recipe-card{
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  border-radius: 10px;
  flex-direction: column;
  width:300px;
  align-items: center;
  margin: 5px 15px 5px 15px;
}

.recipe-card div {
  width: 100%;
  text-align: center;
}

.cardImg {
  width: 150px;
  height: auto;
}

.recipe-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  padding: 5px;
  margin: 10px;
  border-width: .5em;
  text-align: center;;
}


.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 450px;
  object-fit: cover;
  overflow:hidden;
}

.slide-active {
  width: 100%;
}

.slide-active img {
  width: 100%;
  height: 500px;
}

.right-arrow {
  position:absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  z-index: 10;
  width: 50px;
  height: 50px;
}

.left-arrow{
  position:absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  z-index: 10;
  width: 50px;
  height: 50px;
}

.NewRecipeForm {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.recipeFormTitle{
  text-align: center;
}

.LogInContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  ;
}

.LoginImageContainer, 
.LoginFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  overflow: hidden;
}

.LoginImageContainer img {
  height: 700px
}



.loginForm{
  background: linear-gradient(90deg, grey, white);		
	position: relative;	
	height: 250px;
	width: 360px;	
	box-shadow: 0px 0px 24px white;
  justify-content:center
}

.loginForm label{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.LogInContainer Input,
.SignUpContainer Input {
  border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	font-weight: 700;
	transition: .2s;
}

.loginInput:active,
.loginInput:focus,
.loginInput:hover {
	outline: none;
	border-bottom-color: #c6765b;
}

.LogInContainer form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.loginButton,
.SignUpBtn {
  font-size: 20px;
	color: black;
  justify-content:center;
}

.loginButton:active,
.loginButton:focus,
.loginButton:hover {
	border-color: black;
	outline: none;
  justify-content: center
}

.SignUpContainer {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.SignupForm {
  display: flex;
  flex-direction: column;
  background: linear-gradient(90deg, grey, white);		
	position: relative;	
	height: 250px;
	width: 360px;	
	box-shadow: 0px 0px 24px white;
  justify-content:center
}

.SignupForm label {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.SignupImageContainer,
.SignupFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  overflow: hidden;
}

.SignupImageContainer img {
  height: 700px
}

.navBarLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 65%;
  font-size: 15px;
  justify-content: flex-end;
  background-color: #455a64;
}

.NavBarInside {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 15pt;
}

.SignUpLink, .LoginLink {
  margin: 15px;
}

.LogOutButton {
  background: none;
  border: none;
  font-size: 15px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 15pt;
}

.NavBarLogo {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
  width: 70px;
  height: 70px;
}

.searchbar {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: 100%;
  position: relative;
  height: 50px
}

.searchbar input {
  height: 100px;
  width: 100%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 15pt;
}

.myRecipesArray {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  padding: 5px;
  margin: 10px;
  border-width: .5em;
  text-align: center;;
}


